<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        Stuffie. No Bullshit Code Review Tool.
      </div>
    </div>
  </div>
</div>
